@import url(https://fonts.googleapis.com/css?family=Roboto:700,500,400,300);
.active {
    display: block;
}

a:hover,
a:active,
a:focus {
    outline: none;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body {
    margin: 0 auto;
    padding: 0;
}

.header-image {
    display: inline-grid;
    width: 100%;
    float: left;
    opacity: 0.8;
    z-index: -1;
}

.small-image,
.nav li:last-child {
    display: none;
}

.header {
    /*height: 100%;*/
    text-align: center;
}

.nav-pane {
    position: fixed;
    background: #f5f0e6;
    width: 100%;
    height: 50px;
    padding: 5px 0;
    z-index: 10;
}

.nav-pane div {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}

.logo {
    left: 2%;
    display: block;
    float: left;
    padding-left: 15px;
    margin: 7px 0;
}

.nav-pane ul {
    display: block;
    float: right;
    height: 100%;
    padding: 0;
    list-style: none;
}

.nav-pane ul li {
    display: inline-block;
    margin-left: 25px;
    font-size: 14px;
}

.nav-menu {
    display: none;
    position: fixed;
    right: 2%;
    top: 10px;
    line-height: 50px;
}

.headline {
    padding-top: 10rem;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
}

h1 {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h2,
h3 {
    font-weight: 500;
    letter-spacing: 2px;
    margin: 40px auto 20px;
}

h2 {
    font-weight: 400;
    font-size: 3rem;
}

.headline p {
    width: 460px;
    margin: 35px auto;
    font-size: 1.2rem;
    font-weight: 400;
}

.line {
    width: 40px;
    /* height: 1px; */
    border: 1px solid #c41230;
    margin: 40px auto;
}

.line-red {
    margin: 20px auto 40px;
}

.development {
    width: 100%;
}

.dev-article {
    float: left;
    background: #fbfbfb;
    width: 33.33333%;
    padding: 60px 0 40px;
    text-align: center;
}

.dev-article:nth-child(2) {
    background: #ededed;
}

.dev-article p {
    padding: 0 8%;
    font-weight: 300;
    line-height: 1.5em;
    color: #a8a8a8;
}

.job-board {
    width: 100%;
    text-align: center;
}

.job-adv {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    padding: 60px 0 40px;
}

.job-adv p {
    margin: 0 auto;
    width: 380px;
    line-height: 1.5em;
}

.job-vacancy {
    display: inline-block;
    width: 100%;
    padding: 20px 0 30px;
}

.job-vacancy:nth-child(2) {
    background: #222222;
    color: #fff;
}

.job-box {
    display: inline-block;
    width: 800px;
    height: 100%;
}

.job-description {
    text-align: left;
    float: left;
    width: 60%;
}

.job-description p {
    line-height: 1.5em;
}

.tech-box {
    display: inline-block;
    min-width: 65px;
    padding: 10px;
    margin: 0 2px;
    border: 1px solid #000;
    font-size: small;
    text-align: center;
    color: #c41230;
}

.btn-div {
    display: inline-block;
    width: 40%;
    height: 160px;
    line-height: 160px;
    text-align: right;
}

.btn-div a {
    letter-spacing: 1px;
    padding: 10px 35px;
    border: 2px solid #222222;
    background: #ffffff;
    font-weight: 500;
}

.job-vacancy:nth-child(2) .tech-box {
    border: 1px solid #fff;
    color: #ffffff;
}

.job-vacancy:nth-child(2) a {
    color: #fff;
    border: 2px solid #fff;
    background: #222222;
}

.job-board .btn-more {
    margin: 60px auto 100px;
    border: none;
    background: #eeeeee;
    padding: 15px;
}

.about {
    text-align: center;
    background: #fbfbfb;
    padding: 60px 0 40px;
}

.about-div {
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

.about p:last-child {
    text-align: left;
    line-height: 1.5em;
}

.social {
    text-align: center;
    padding: 100px 0;
}

.social img {
    margin: 5px;
}


/* location */

.location-info {
    height: 300px;
    background: #222;
    width: 60%;
    padding: 0 20%;
    margin: 0 auto;
}

.location {
    background: #222;
    float: left;
    height: 140px;
    padding: 0 0 0 0px;
    color: #666666;
    text-align: left;
    width: 33.33333%;
    padding: 80px 0;
    font-size: 13px;
    line-height: 20px;
}

.location div {
    width: 200px;
    margin: 0 auto;
}

.location:first-child div {
    margin-left: 0;
}

.location:last-child div {
    margin-right: 0;
    width: 150px;
}

.location p span {
    color: #ffffff;
    margin-left: 20px;
    vertical-align: super;
}

footer {
    background: #000000;
    color: #666666;
}

.copyright {
    width: 60%;
    margin: 0 auto;
    font-size: 12px;
}

.cpyr {
    display: inline-block;
    line-height: 24px;
}

.cpyr-links {
    float: right;
}

.cpyr-links>div {
    display: inline-block;
    padding: 10px;
}

.grayed {
    color: #a8a8a8;
    letter-spacing: 4px;
    font-size: small;
    border-color: #a8a8a8;
}


/* mobile version */

.mobile-social {
    width: 100%;
    padding: 0 20px;
}

.mobile-social div:first-child {
    float: left
}

.mobile-social div:last-child {
    float: right;
}

@media (max-width:960px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    .headline .line {
        display: none;
    }
    .headline div p {
        text-transform: uppercase;
        width: 85%;
    }
    .hide {
        display: none;
    }
    .dev-article {
        width: 100%;
    }
    .dev-article p {
        padding: 0 4%;
    }
    .job-adv>p {
        width: 85%;
    }
    .btn-div {
        display: none;
    }
    .tech-box {
        min-width: 30px;
        text-align: left !important;
        border: none !important;
        margin: 0 5px 0 0;
        padding: 0;
    }
    .job-box,
    .job-description {
        /*text-align: center;*/
        width: 85%;
    }
    .about p:last-child {
        padding: 0 4%;
    }
    .location-info {
        width: 80%;
        padding: 0 4%;
    }
    .copyright {
        width: 80%;
    }
    .nav-menu {
        display: block;
    }
    .nav-pane .nav {
        /* promeniti */
        display: none;
        width: 80%;
        height: 50vh;
        text-align: center;
        margin: 0;
        padding: 100px 10% 0;
        background: #222;
    }
    .nav-pane ul li {
        color: #cccccc;
        display: block;
        font-size: 26px;
        margin: 0;
        padding: 35px 0;
    }
    .nav-pane ul li:last-child {
        font-size: 1em;
        padding: 100px 0 0;
        line-height: 50px;
        letter-spacing: 4px;
    }
    .nav-pane ul li:last-child div {
        display: inline-block;
        margin: 0 5px;
    }
    .large-image {
        height: 50vh;
    }
}

@media (max-width:640px) {
    /* smartphones, iPhone, portrait 480x320 phones */
    footer {
        text-align: center;
        padding: 0;
    }
    .copyright,
    .cpyr {
        background: #222;
        width: 100%;
    }
    .cpyr-links {
        background: #222;
    }
    .cpyr-company {
        background: #000;
    }
    .location-info {
        padding: 0;
        height: auto;
    }
    .location {
        width: 100%;
        padding: 30px 0;
    }
    .location div,
    .location:first-child div,
    .location:last-child div {
        width: 85%;
        margin-left: 0;
    }
    .small-image {
        display: inline-grid;
        max-height: 100vh;
    }
    .large-image {
        display: none;
    }
    .nav-pane {
        background: #f2ede2;
    }
    .nav-pane .nav {
        height: 100vh;
    }
    h2 {
        width: 75%;
    }
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .nav-pane div {
        max-width: 960px;
    }
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .nav-pane div {
        max-width: 1024px;
    }
}